<% if (footer === true) { %>
    <footer id="footer" class="mt-8 pb-6 px-6 transition-opacity duration-300 ease-in-out">
        <div class="flex items-center justify-center">
            <div class="text-xs text-zinc-600 font-normal text-center">
                &copy; <span id="copyright-year"></span> <span id="copyright"></span>
                <span class="text-zinc-700">OJIHOST Panel</span>
            </div>
        </div>
    </footer>
    <script>
        document.getElementById("copyright-year").textContent = new Date().getFullYear();
    </script>
<% } %>

</body>
</html>
